{% extends "layout.html" %}

{% block title %}
    Add a new word
{% endblock %}

{% block main %}
{{ message }}
<form action="/add" method="post"> 
    <input type="text" autocomplete="off" name="word" placeholder="word">
    <input type="text" autocomplete="off" name="meaning" placeholder="meaning">
    <button type="submit" class = "btn btn-info" name = "Image_Search" value="True">Image_Search</button>
    <button type="submit" class = "btn btn-primary" value="test">Register</button>
</form>
{% endblock %}