{% extends "layout.html" %}

{% block title %}
    Add a new word
{% endblock %}

{% block main %}
{{ message }}
<form action="/add" method="post"> 
    <input type="text" autocomplete="off" name="word" placeholder="word" value = "{{ word }}">
    <input type="text" autocomplete="off" name="meaning" placeholder="meaning" value = "{{ meaning }}">
    <button type="submit" class="btn btn-info" disabled name = "Image_Search" value="True">Image Search</button>
    <button type="submit" class="btn btn-primary" value="test">Register</button>
    <div id ="img_list">
        <h2>Choose an image associated with the word</h2>
        <h3>You can search images {{ remain }} more times</h3>
        {% for i in range(length) %}
            <input type ="radio" name="img_url" id = "{{ i }}" value="{{ img_urls[i] }}">
                <label for ="{{ i }}"><img src="{{ img_urls[i] }}" width = "300" height = "250"></label>
            {% if i % 3 == 2 %}
            <br>
            {% endif %}
        {% endfor %}
        </div>
</form>
{% endblock %}