{% extends "layout.html" %}

{% block title %}
    Vocabluary list
{% endblock %}

{% block main %}
<
{{ message }}
{{ pagenation.info }}
{{ pagenation.links }}
<table class="table tablestriped">
    <thead>
        <tr>
            <tr>
                <th>Word</th>
                <th>Meaning</th>
                <th>Image</th>
                <th>Delete Button</th>
            </tr>
            {% for v in range(length) %}
            <tr>
                
                <td>{{ vlist[v].word }}</td>
                <td>{{ vlist[v].meaning }}</td>
                {% if vlist[v].img_url %}
                <td><img src ="{{ vlist[v].img_url }}" width = "300" height ="250"></td>
                {% else %}
                <td>None</td>
                {% endif %}
                <td> 
                <form action="/delete" method="post" name="{{vlist[v].id}}">
                    <input type ="hidden" name="id" value="{{vlist[v].id}}">
                    <input value="Remembered!" type="submit">
                </form>
                </td>
            </tr>
            {% endfor %}
        </tr>
    </thead>
</table>
{{ pagenation.links}}
{% endblock %}
