{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
{{ message }}
<table class="table tablestriped">
    <thead>
        <tr>
            <tr>
                <th>Word</th>
                <th>Meaning</th>
                <th>Image</th>
            </tr>
            {% for v in range(length) %}
            <tr>
                
                <td>{{ vlist[v].word }}</td>
                <td>{{ vlist[v].meaning }}</td>
                {% if vlist[v].img_url %}
                <td><img src ="{{ vlist[v].img_url }}"></td>
                {% else %}
                <td>None</td>
                {% endif %}

            </tr>
            {% endfor %}
        </tr>
    </thead>
</table>
{% endblock %}