{% extends "layout.html" %}

{% block title %}
    Welcome to Myapplication!
{% endblock %}

{% block main %}

<h1>
Welcome to Myapplication!
</h1>
<div>
<p>This toll will be a book to help your vocabluary learning.</p>
<p>You can register vocabluaries you want to memorize.</p>
<p>This tool also can search for images to be associated with vocabluaries you register</p>
</div>
<div class="alert alert-warning" role="alert">
<p>WARNING: This tool is mainly for creaator's personal use so that user experience may not be optimized.</p>
<p>For example, The number of images you can search is limited.
</div>
<a href="/register">Register</a>
<a href="/login"> Login </a>



{% endblock %}